[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
        current =  log -n 1 --decorate --pretty=oneline --abbrev-commit
	#branch-merged = !bash -c "for branch in $(git branch -r --merged | grep -v HEAD | tr '\n' ' ') ;do git show --format=\"%C(yellow)%d %Cgreen%aN %C(cyan)%ar\" $branch | head -n 1 ; done"
	branch-merged = "!f(){ for branch in `git branch -r --merged | grep -v HEAD | grep -v origin/master | grep -v origin/release` ;do git show --format=\"%C(yellow)%d %Cgreen%aN %C(cyan)%ar\" $branch | head -n 1 ; done }; f"
	branch-not-merged = "!f(){ for branch in `git branch -r --no-merged | grep -v HEAD | grep -v origin/master | grep -v origin/release` ;do git show --format=\"%C(yellow)%d %Cgreen%aN %C(cyan)%ar\" $branch | head -n 1 ; done }; f"
[user]
	email = agoulamhoussen@orange-vallee.net\n
	name = Alnour Goulamhoussen\n

[push]
	default = upstream
[core]
	editor = vim
